body{background-color: rgb(255, 237, 176);
}

.board {
  background-color: rgb(255, 237, 176);
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result{
    text-decoration: solid;
    font-size: 2rem;
    text-transform: uppercase;
    color: navy;
    text-align: center;
}
.board2{
  width: calc(100vh - 240px);
  max-width: calc(100vw - 40px);
  display:grid;
  grid-gap:10px;
  margin: auto;
  grid-template-columns: repeat(6, 1fr);
}
.boton-orange{
  background-color: rgb(255, 102, 0);
  border-radius: 20px;
  padding: 0.5% 0%;
  margin: 0% 5%;
  width: 15%;
  text-align: center;
  color: white;
  font-weight: 600;
  cursor: pointer;

}
.boton-orange-sm{
  background-color: rgb(255, 102, 0);
  border-radius: 20px;
  padding: 0.5% 0%;
  margin: 0.01% 6% 0.5% 6%;
  width: 10%;
  text-align: center;
  color: white;
  font-weight: 600;
  cursor: pointer;

}
.menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2% 0;
}
.menu-tablero{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container{
  display: grid;
  grid-template-columns: 12.5rem  12.5rem 12.5rem 12.5rem;
  justify-content: center;
  width:80%;
  height: 60%;
  margin: 2% 10%;
  flex-wrap: nowrap;
 }

 .cards-container6{
   margin: 0 30%;
  justify-content: center;
  width: 100vh;
  height: auto;
  display: grid; 
  grid-template-columns:  repeat(12, 1fr); 
  grid-template-rows:  repeat(12, 1fr); 
  gap: 0 1%; 
  flex-wrap:nowrap;
}
.cards-container8{
  width: 100vh;
  height: auto;
  display:grid;
  grid-gap:1%;
  margin: 2% 1%;
  grid-template-columns: repeat(8, 1fr);
}
.card{
  display:inline-block;
  margin: 5px;
  border-radius: 5px;
  width: 10%;
  height: 10%;
  cursor: pointer;
  
}

.card:hover{
  transform: scale (0.98);
}
.card-image{
  width: 7vw;
  height: auto;
}

.logo{
  width: 12%;
  margin: 0.5% 2%;
} 